<section class="hero is-primary">
    <div class="hero-body">
      <p class="title">
        About
      </p>
      <p class="subtitle">

        At Seekers, we are dedicated to providing top-quality education and empowering our students to unlock their full potential. Our mission is to create an environment that fosters creativity, critical thinking, and a lifelong passion for learning.
        We offer a diverse range of programs and courses, designed to cater to the unique needs and interests of our students. Our experienced faculty members are experts in their respective fields and are committed to providing personalized attention to each and every student.
        We believe that education is a journey, not just a destination, and we strive to create an atmosphere that encourages students to explore, experiment, and grow. At Seekers, we value innovation, collaboration, and excellence, and we are committed to preparing our students for success in their chosen careers and in life.
        We welcome students from all backgrounds and walks of life, and we are committed to creating an inclusive and supportive community. Join us at Seekers and embark on an exciting journey of self-discovery and personal growth!
      </p>
    </div>
  </section>
