<section class="hero  is-fullheight">
    <div class="hero-bodyl ">

      <div class="heroa">

        <div class="box">

            <div class="heroSection">

                <h1>Discover Your Potential with Seekers</h1>

                <p>Unlocking Your Path to Success Through Quality Education</p>

                <a href="#">Discover</a>

            </div>

        </div>

        <div class="content">

            <img src="back.jpg" alt="img" style="width:100%;height:100%;">

        </div>

    </div>